.at-action-button {
  border: 1px solid crimson;
  position: relative;
  background: #607D8B;
  display: inline-block;

  .at-action-title {
    text-transform: uppercase;
  }

  .at-action-dropdown {
    display: block;
    border:1px solid green;

    .at-action-item {
      display: block;
    }
  }
}