<md-toolbar class="md-primary md-hue-3">
    <h2 class="md-toolbar-tools">
        <span>{{ 'USERS.MANAGE_TITLE' | translate}}</span>
    </h2>
</md-toolbar>
<md-content>
    <md-button class="md-raised" ng-click="vm.createNewUser()">Create New User</md-button>
</md-content>

<md-content>

<div class="t-table">
<div ng-repeat="user in vm.users" class="t-row">

    <div class="t-cell cell-email">{{user.email}} <span ng-if="user.role=='admin'">ADMIN</span></div>
    <div class="t-cell cell-name">{{user.name}}</div>
    <div class="t-cell cell-age">{{user.age}}</div>
    <div class="t-cell cell-actions">
        <md-button class="md-raised" ng-click="vm.editUser(user.email)">Edit</md-button>
        <md-button class="md-raised md-warn" ng-if="user.role!=='admin'"  ng-click="vm.deleteUser(user.email)">Delete</md-button>
    </div>
</div>
</div>

</md-content>