<md-whiteframe class="md-whiteframe-1dp profile-info" flex-sm="100" flex-gt-sm="50" layout layout-align="center center">
    <md-content layout-wrap layout-fill class="profile-info__content">
        <ul class="profile-info__list">
            <li class="profile-info__item">
                <p class="profile-info__label">Your email (login)</p>
                <h2 class="profile-info__title">{{user.email}}</h2>
            </li>
            <li class="profile-info__item">
                <p class="profile-info__label">Display name</p>
                <h2 class="profile-info__title">{{user.name}}</h2>
            </li>
            <li class="profile-info__item">
                <p class="profile-info__label">Birthdate</p>
                <h2 class="profile-info__title">{{user.birthdate}}</h2>
            </li>
            <li class="profile-info__item">
                <p class="profile-info__label">Display age</p>
                <h2 class="profile-info__title">{{user.age}}</h2>
            </li>
            <li class="profile-info__item">
                <p class="profile-info__label">BIO</p>
                <h2 class="profile-info__title">{{user.bio}}</h2>
            </li>
        </ul>
    </md-content>

</md-whiteframe>