<div layout-padding>
    <h1>Hello! I'm action Tester!</h1>

    <at-action-button button-title="Awesome Actions">
        <at-action-item ng-model="vm.testAction1">Action Success Fast</at-action-item>
        <at-action-item ng-model="vm.testAction2">Action Success Later</at-action-item>
        <at-action-item ng-model="vm.testAction3">Action Later Error</at-action-item>
        <at-action-item ng-model="vm.testAction4">Action Long Error</at-action-item>
    </at-action-button>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error incidunt inventore ipsum nobis nulla,
        obcaecati quas quisquam. Dolore dolores ipsa, modi necessitatibus porro praesentium quas quasi sunt unde voluptas!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error incidunt inventore ipsum nobis nulla,
        obcaecati quas quisquam. Dolore dolores ipsa, modi necessitatibus porro praesentium quas quasi sunt unde voluptas!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error incidunt inventore ipsum nobis nulla,
        obcaecati quas quisquam. Dolore dolores ipsa, modi necessitatibus porro praesentium quas quasi sunt unde voluptas!</p>


</div>