/* Users Styles
// ==================================================================================================================*/
.cell-email {
	font-weight: bold;
}
.cell-name {

}

.cell-actions {
	text-align: right;
}

.createUserForm {
	min-width: 350px;

	md-input-container {
		display: block;
	}
}


.md-dialog-actions {
	padding: 10px 24px;
}

.editUserForm {
	min-width: 450px;
}