/* Users Styles
// ==================================================================================================================*/
.cell-email {
	font-weight: bold;
}
.cell-name {

}

.cell-actions {
	text-align: right;
}

.createUserForm {

	min-width: 270px;

	md-input-container {
		display: block;
	}
}